.navbar 
{
    margin:0 0 0 0;
    background-color:#8ACED5;
}

.down
{
    background-color: #ffffff;
    background-image: url("images/twopets.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.up
{
    background-image:url("images/line2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-color:white;
    background-size:auto 100%;
}

hr{
    background-color: #8ACED5;
    height: 50px;
    border: none;

}

.jumbotron
{
   margin:0px 0px 0px 0px;

}

body
{
background-repeat: no-repeat;
background-size:cover;
background-color:white;
}





h4
{
text-align:center;

}

.favlist{
    hspace
}

td
{
padding:50px;
}

#contact{
    font-size: 28px;
}